android/.gradle
android/app/build
android/build
android/android-build-log.txt
android/build-log.txt

ios/build
ios/Pods

.expo
.expo-shared

npm-debug.log*
yarn-error.log*

*.iml
.idea
.vscode
.git
.git/**

